.calendarWrap {
  margin: 10px;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  z-index: 999;
}

input.inputBox {
  font-size: 18px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: hidden;
}
