.container {
  width: 40%;
  padding: 2rem;
  background-color: #f1f3f5;
  height: fit-content;
}
.container_update {
  width: 50%;
  padding: 2rem;
  background-color: #f1f3f5;
  height: fit-content;
}
.container h1,
.container_update h1 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.content {
  list-style: none;
  padding: 0;
}
.content li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  align-items: center;
}
.content li p:nth-child(1) {
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}

.content li p {
  margin: 0;
  padding: 0.5rem 0;
  font-style: italic;
  font-weight: 400;
}
.num_1 {
  opacity: 0.5;
  font-size: 0.9rem;
}
.num_2 {
  font-size: 1.2rem;
}
.coupon {
  display: flex;
  flex-direction: column;
}

.coupon input,
button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.coupon button {
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.content .total {
  border: none;
}

.content .product_list {
  border-bottom: 1px solid #000;
  gap: 0.5rem;
}
.content .product_list p:nth-child(1) {
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
}

.content .product_list p:nth-child(2) {
  opacity: 0.5;
  font-size: 0.9rem;
  width: 75%;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 35%;
    padding: 3rem;
    background-color: #f1f3f5;
    height: fit-content;
  }
  .container_update {
    width: 40%;
    padding: 2rem;
    background-color: #f1f3f5;
    height: fit-content;
  }
  .container h1,
  .container_update h1 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
  .content {
    list-style: none;
    padding: 0;
  }
  .content li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
  }
  .content li p:nth-child(1) {
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.1rem;
  }

  .content li p {
    margin: 0;
    padding: 0.5rem 0;
    font-style: italic;
    font-weight: 400;
  }
  .num_1 {
    opacity: 0.5;
    font-size: 1rem;
  }
  .num_2 {
    font-size: 1.2rem;
  }
  .coupon {
    display: flex;
    flex-direction: column;
  }

  .coupon input,
  button {
    font-size: 1rem;
    padding: 1rem;
  }

  .coupon button {
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .content .total {
    border: none;
  }

  .content .product_list {
    border-bottom: 1px solid #000;
    gap: 0.5rem;
  }
  .content .product_list p:nth-child(1) {
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
  }

  .content .product_list p:nth-child(2) {
    opacity: 0.5;
    font-size: 1.1rem;
    width: 90%;
  }
}
