.register {
  background-image: url(/public/Resource/banner1.jpg);
  background-size: contain;
  height: 80vh;
}

.register > div {
  min-width: 20rem;
  width: 25%;
}

.register a {
  text-decoration: none;
}

.register button {
  background-color: #343a40;
}

.register button:hover {
  background-color: #495057;
}

.form {
  margin-top: 5rem;
}

.form input {
  padding: 1.2rem;
  border: 1px solid #eee;
}

.form input:focus {
  outline: none;
}
