.container {
  background-color: black;
}
.content {
  padding: 2rem 0;
  margin: 1rem;
  border-radius: 6px;
  margin: 0rem auto;
  width: 90%;
  display: flex;
  max-width: 75%;
  align-items: center;
  justify-content: space-around;
}
