.container h1 {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
}
.content {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content li {
  list-style: none;
}
.content a {
  color: #495057;
  font-style: italic;
  text-decoration: none;
  font-size: 0.8rem;
}
.content a:hover {
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .container h1 {
    color: #fff;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .content li {
    list-style: none;
  }
  .content a {
    color: #495057;
    font-style: italic;
    text-decoration: none;
    font-size: 1rem;
  }
  .content a:hover {
    color: #fff;
  }
}
